
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 207, 166);
    }
li {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    }
a  {color: #990a0aee;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;}
a:hover {text-decoration: underline;
    /* } */
}

.title {
    float: center;
    font-size: 40px;
}

.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.justify {text-align: justify;}
.homebg {background-image: url('https://wallpaperaccess.com/full/2595496.jpg');
        background-position: center;
        /* background-size: cover; */
        background-repeat: repeat;
}

.common {
    /* background-color: #cccccc; */
    border: 2px solid white;
    position: absolute;
}

.header {
    top: 5px;  
    left: 5px;
    right: 5px;
    height: 200px;
    border-bottom: solid 1px #666666;
}

.leftmenu {
    top: 215px;
    left: 5px;
    width: 110px;
    /* bottom: 42px; */
    padding-top: 30px;
    padding-left: 8px;
    border-right: solid 1px #666666;
}

.rightmenu {
    top: 215px;
    right: 5px;
    width: 300px;
    /* bottom: 42px; */
    border-left: solid 1px #666666;
    padding-left: 8px;
}

.mainbody {
    top: 215px;
    left: 130px;
    right: 320px;
    /* bottom: 40px; */
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 60px;
}

.footer {
    bottom: 12px;
    left: 5px;
    right: 5px;
    height: 20px;
    font-size: 12px;
    color: #aa5912;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheader {
    margin-left: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    font-size: 30px;
}

